.profile {
    margin-top: 30px;
    margin-left: 30px;
    width: 47%;
    float: left;
    box-sizing: border-box;
    height: 41vh;
}

.profile>h1 {
    margin-left: 10px;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profileItem {
    margin-top: 15px;
    display: flex;
    align-items: center;
    /* Aligns children vertically in the center */
    gap: 20px;
}

.profilePic {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.profilePic img {

    max-width: 100%;
    /* Make the image fill the container */
    max-height: 100%;
    /* Make the image fill the container */
    border-radius: 50%;
    /* Circular shape */
    object-fit: contain;
}

.profileText {
    margin-left: 20px;
    width: 65%;
    height: 25vh;
    display: flex;
    align-items: center;
}

.button-box {
    width: 25vh;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.edit-button {
    background-color: white;
    width: 100px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 800;
}

.edit-button:hover {
    background-color: rgb(214, 213, 213);
}

.myGroup {
    margin-top: 50px;
    margin-right: 60px;
    width: 43%;
    box-sizing: border-box;
    height: 50vh;
    float: right;
    position: relative;
    border-radius: 20px;
    float: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.myGroup>h2 {
    padding: 15px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-left: 10px;

}

.groupContainerBox {
    background-color: rgb(245, 245, 245);
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s ease, transform 0.5s ease;
    background-color: initial;
}

.groupContainerBox:hover {
    background-color: rgb(236, 236, 236);
    transform: translateY(-5px);
}

.groupbox {
    margin: auto;
}

.stat {
    /* background-color: #595757; */
    border: 4px dashed rgb(134, 133, 133);
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 30px;
    width: 44%;
    float: left;
    box-sizing: border-box;
    height: 38vh;
    padding-top: 0;
}

.stat>h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

.addGroup {
    background-color: white;
    border: none;
    font-size: larger;
    position: absolute;
    top: 20px;
    right: 10px;
}

.addGroup:hover {
    color: rgb(97, 175, 183);

}

.timer {
    display: flex;

    /* background-color: #565555; */
    margin-top: 35px;
    margin-right: 60px;
    width: 43%;
    float: right;
    box-sizing: border-box;
    height: 28vh;
    position: relative;
    border-radius: 20px;
    float: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.timer h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;

}

.myGroup h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;

}

.timer-containers {
    /* border: 1px solid black; */
    width: 390px;
}

.line {
    margin-top: 50px;
    height: 70%;
    /* Adjust the height as needed */
    width: 1.5px;
    /* This creates the line effect */
    /* background-color: #616161; */
    /* The color of the line */

}