.groupContainer {
    background-color: rgb(251, 251, 251);
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.groupContainer:hover {
    background-color: rgb(236, 236, 236);
    transform: translateY(-5px);
}

.groupContainer > h3 {
    color:rgb(28, 28, 28);
    margin-top: 30px;
    margin-left: auto; /* Align center horizontally */
    margin-right: auto; /* Align center horizontally */
    font-size: 32px;
    padding: 5px;
    width: 160px;
    text-align: center; /* Center the text inside the h3 element */
}

.infoContainer {
    color:rgb(28, 28, 28);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 70px;
    width: 180px;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
}

.info {
    font-size: 13px;
}

body {
    padding-top: 40px;
    z-index: 999;
}

.Find-group-text {
    margin-top: 50px;
    margin-left: 45vw;
}

.groupContainerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centers the items horizontally */
    gap: 20px;
    /* Optional: adds space between items */
}