.userListTitle{
    margin: 10px;
    margin-top: 50px;
    margin-left: 20px;
}

.userListContainer{
    width: 100px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.chatContainer{
    margin: 20px;
    width: 1200px;
    height: 400px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    float: right;
    margin-right:50px;
}

.webcam {
    margin: auto;
    margin-left: 300px;
}

.chatContainer>h3{
    margin-top: 5px;
    margin-left: 530px;
}