.navbar {
    display: flex;
    height: 60px;
    width: 100%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo {
    height: 34px;
    margin-top: 13px;
    margin-left: 13px;
}

.button {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    height: 30px;
    width: 200px;
    border: 0.16rem solid;
    border-radius: 10px;
    text-align: center;

    font-weight: 700;

    color: black;
    text-decoration: none;

}

.button:hover {
    background-color: #d7d6d6;
}

.loginBox {
    background-color: #d9d9d9;
    width: 60vmin;
    height: 80vmin;
    margin: auto;
    margin-top: 6vmin;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.biglogo {
    margin-top: 90px;
    height: 16vmin;
}

.logbutton {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.google-login-button {
    margin-top: 60px;
    height: 60px;
    width: 300px;
    font-size: 20px;
    font-weight: 550;
    background-color: #fcfcfc;
    border: 2px solid black;
    border-radius: 30px;
}

.google-login-button:hover {
    background-color: white;
    /* White background on hover */
    transform: translateY(-5px);
    /* Green text */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
}