.navbar {
    display: flex;
    height: 60px;
    width: 100%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo {
    height: 34px;
    margin-top: 13px;
    margin-left: 13px;
}

.buttons>a {
    height: 40px;
}


/* .buttons {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    height: 40px;
    width: 100px;
    border: 0.16rem solid;
    border-radius: 10px;
    text-align: center;

    font-weight: 700;

    color: black;
    text-decoration: none;

} */